* {
    margin: 0 auto;
}

/* shared Style */
.description {
    font-weight: 400;
    color: #fff;
}

.btn-primary {
    height: 60px;
    width: 160px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 1.25rem;
    font-weight: 600;
}


/* header section style */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 800px;

}

.banner-content {
    text-align: right;
    width: 530px;
    padding: 220px 300px 360px 840px;
    margin-top: 20px;
}

.banner-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    width: 390px;
    padding-left: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}